.navimage
{
margin-bottom: 150px;


}
.bottun
{
	
padding-top: 5px;
margin-left: 1000px;
}
.form
{
 margin-left: 1000px

}
.header
{
	padding-top: 10px;
}
.sign
{
	margin-left: 30px;
}
.signbottun
{
margin-left: 130px;

}
.loginbottun
{
	margin-left: 150px;
}
.update
{
	margin-left: 50px;
}
.newcustomer
{
	margin-left: 20px;
}
.newproduct
{
	margin-left: 20px;
}
.createcustomer 
{
	margin-left: 1100px;
	margin-bottom: 10px;
}
.createproduct
{   margin-left: 1100px;
	margin-bottom: 10px; 
}
.showcutomer
{margin-left: 20px;
	background-color: 	#FFEBCD;
	margin-right: 400px;
}
.headeruser
{ 
	padding-top: 5px;
   margin-right: 3px;
	margin-left: 900px;

}
.addemployee
{
	margin-left: 1100px;
	margin-bottom: 10px;
}